body {
    background-color: rgb(255, 255, 224);
}
h1 {
    font-size: 40px;
    color: rgb(240, 0, 0);
    text-align: center;
    font-weight: bold;
}
h2 {
    color: rgb(240, 0, 0);
    text-align: center;
    font-weight: bold;
}
.text {
    font-style: italic;
}
.heading {
    text-transform: uppercase;
}